
#lista-dragon-ball {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.contenedor {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-image: url(https://media0.giphy.com/media/jaOXKCxtBPLieRLI0c/giphy.gif?cid=6c09b952b4cep4xo7dzefznf3nlvsqg930jzltcmpkjtvd9i&ep=v1_gifs_search&rid=giphy.gif&ct=g);
}

.contenedor:hover {
  transform: translateY(-5px);
}

.articulo {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.articulo h4 {
  margin: 0 0 15px;
  font-size: 1.5em;
  color: #e67e22;
}

.articulo img {
  width: 150px;

  height: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.articulo p {
  margin: 5px 0;
  font-size: 1em;
  color: #ffffff;
}

.articulo h5 {
  margin: 15px 0 10px;
  font-size: 1.2em;
  color: #e67e22;
}

.articulo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.articulo li {
  margin: 5px 0;
  font-size: 0.9em;
  color: #ffffff;
}

#list-warrior select {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-top: 20px;
}

@media (max-width: 600px) {
  #lista-dragon-ball {
    gap: 10px;
  }

  .contenedor {
    max-width: 100%;
  }

  #list-warrior select {
    max-width: 100%;
  }
}
